
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> 
        <h1>Xin lỗi , bạn không có quyền truy cập khu vực này</h1>
    </div>
</body>
</html>
